.plans-link{
    padding: 10px 20px;
    transition: 500ms;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    &:hover{
        background-color: white;
        color: $dark-blue;
    }
}
.plans-link--dark{
    padding: 10px 20px;
    border: 2px solid $dark;
    color: $dark;
    &:hover{
        background-color: $dark;
        color: white;
    }
}